<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="/styles.css">
</head>
<body>
    <h1>Bob Esponja Gallery</h1>

    <img src="bobPatricio.jpg" width="200px" alt="bob">
    <img src="bob.jpg" width="200px" alt="bob">
    <img src="98.webp" width="200px" alt="bob">
    <img src="images.jpg" width="200px" alt="bob">
    <img src="spongebob-squarepants-vector.jpg" width="200px" alt="bob"> 
</body>
</html>
