<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="/styles.css">
</head>
<body>
    <h1>Bob Esponja Work</h1>

    <p>Squidward Tentacles and SpongeBob SquarePants work at the Krusty Krab as the cashier and fry cook, respectively. The other main characters of the series have also held temporary, single-episode positions at the Krusty Krab.</p>
</body>
</html>
